@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: rgb(64, 214, 10);
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
  transition: transform 0.3s ease-in;
  position: absolute;
}
.sidebar nav {
  padding: 45px;
}
.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 33px 0;
}
.sidebar nav li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.container1 {
  display: flex;
}
.container1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background: url("../img/imghhh.jpg") no-repeat center center/cover;
}
.infoContainer {
  /* background-color: rgb(57, 194, 93); */
  height: 58vh;
  width: 80vw;
  margin: 146px auto;

  display: flex;
  justify-content: space-around;
}
.devInfo {
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
}
.hello {
  font-size: 2rem;
  font-weight: bold;
}
.hello::first-line {
  font-size: 50px;
  border: 2px solid;
  border-right: transparent;
  border-left: 5px;
  color: white;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}
.name::first-letter {
  font-size: 50px;
  border: 2px solid;
  border-right: transparent;
  border-left: 5px;
  color: rgb(37, 175, 24);
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}

.about {
  font-size: 2.5em;
  color: #2dd817;
}
.moreabout {
  font-size: 2em;
  margin-top: 23px;
  font-family: "Fira Sans", sans-serif;
}

.buttons {
  margin-top: 2.2em;
  font-size: 16px;
}

.btn {
  padding: 9px 14px;
  border-radius: 22px;
  color: #24e034;
  background-color: #070d12;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 3px;
  cursor: pointer;
}

.btn-sm {
  font-size: 1rem;
  padding: 10px 28px;
  margin: 10px 0;
}
.btn:hover {
  background-color: rgb(37, 175, 24);
  color: rgb(3, 4, 6);
}

.devPic img {
  border-radius: 12rem;
  border: -16rem 3rem 3rem 3 rem;
  width: 11rem;
  height: 11rem;
  margin-top: 11rem;
}
.container3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background: url("../img/contact.jpg") no-repeat center center/cover;
}
.container4::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background: url("../img/rrr.webp") no-repeat center center/cover;
}
.contactform {
  font-family: "Fira Sans", sans-serif;
  /* padding-top: 1rem; */
  padding: 6rem 1rem;
}
.contactform h1 {
  font-weight: bold;
}
.contactform form div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.contactform form div input {
  /* width: 26vw; */
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}
.contactform form div input {
  margin: 0 30px;
}
#emailHelp {
  font-size: 11px;
  color: #2dd817;
  margin: 0 5px;
  padding: 3px 0 0 0;
}
#form-check {
  flex-direction: row;
}
#form-check input {
  width: 24px;
  margin: 3px 0;
}
.blogItem {
  margin: 20px;
  font-family: "Fira Sans", sans-serif;
}
.blogContainer h1{
  /* margin: 32px; */
  padding: 3rem;
}
.blogContainer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: url("../img/blogggg.jpg") no-repeat center center/cover;
}
.blogContainer::first-letter {
  font-size: 6rem;
  border: 2px solid;
  border-right: transparent;
  border-left: 5px;
  color: rgb(18, 55, 14);
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}
h1 {
  font-family: "Fira Sans", sans-serif;
}
p {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}
.IntroContainer {
  padding: 2rem;
}
.intro h1{
  /* margin: 10px 88px; */
  padding: 3rem;
}
.intro h2 {
  font-family: "Fira Sans", sans-serif;
  margin: 12px;
  margin-top: 3rem;
}
.intro p {
  font-family: "Source Code Pro", monospace;
  margin: 12px;
}
.skillcontainer {
  padding: 12px;
  color: white;
  background-color: #070d12;
}
.skillItem {
  display: flex;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
}

.skill {
  width: 265px;
  height: 6px;
  background-color: red;
  border: 2px solid black;
}
.hundered {
  width: 256px;
  background-color: rgb(186, 164, 0);
}
.fifty {
  width: 125px;
  background-color: rgb(55, 0, 128);
}
.t5 {
  width: 75px;
  background-color: rgb(191, 107, 6);
}
.sidebarGo {
  transform: translate(-443px, 0px);
  position: absolute;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}
.ham {
  margin-top: 10px;
  /* margin-left: 10px; */
}
.cross {
  margin-left: 200px;
  /* margin: 10px; */
}
.h-secondary {
  font-size: 2.3rem;
  padding: 12px;
  font-family: "Bree Serif", serif;
}
.services {
  margin: 30px;
  display: flex;
}
.services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 1px 6px;
  border-radius: 28px;
  background-color: #f2f2f2;
}
.services .box img {
  height: 160px;
  margin: auto;
  display: block;
}
.services .box p {
  font-family: "Bree Serif", serif;
}
.Contact5 a {
  padding: 7rem 3rem;
  font-style: italic;
  color: rgb(255, 255, 255);
  background-color: transparent;
  /* text-decoration: none; */
}
.Contact5 {
  margin: auto;
  /* font-size: 2rem; */
  background-color: black;
  padding: 3rem;
}

.Contact5 img{
     /* position: absolute; */
     cursor: pointer;
     top: 10px;
     left: 10px;
     margin: 6px 5rem;
     height: 56px;
     margin-left: 1rem;
}
.Contact5 h2{
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Bree Serif", serif;
}
.image{
  margin: 2rem;
  
}
footer{
  background: black;
  color: white;
  padding: 9px 20px;
  text-align: center;
}

@media (max-width: 1200px) {
  .buttons {
    font-size: 6px;
  }
  .devInfo {
    font-size: 10px;
  }
  .devPic {
    display: none;
  }
  .intro,
  .blogContainer,
  .contactform {
    margin: 8px;
  }
}
